<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="signContainer">
        <h1>Login</h1>
        <ul>
            <% if(users && users.length >0){%>
                <% users.forEach((user)=>{%>
                    <li><%=user.username%></li>
                <%})%>
           <% } else {%>
            <li>No user found</li>
           <%}%>
        </ul>
    </div>
    
</body>
</html>