<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
    <h1>All notes</h1>
    <ul>
        <% notes.forEach(note => { %>
            <li>
                <h2><%= note.title %></h2>
            </li>
            <li><%= note.content.substring(0,200) %>...</li>
            <li><%= new Date(note.timeStamp) %></li>
            <a href="/notes/<%= note.id %>">Read More</a>
       <% }); %>
       
    </ul>
</body>
</html>