<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Post</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
    <h1><%= note.title %></h1>
    <p><%= note.content %></p>
    <p><%= new Date(note.timeStamp) %></p>
    <a href="/notes">Back</a>
    <form action="/note/:id/delete" method="POST">
        <button type="submit">Delete note</button>
    </form>
</body>
</html>