<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Notes</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
        <h1>All Notes</h1>
        <ul>
            <% notes.forEach((note)=> { %>
                <li><h1><%= note.title %></li></h1>
                <li><%= note.content.substring(0,5)%>.....</li>
                <li><%= note.created_at %></li>
                <a href="/notes/<%= note.id %>">Read More</a>
            <%})%>
        </ul>
       <a href="/createNew">Create Note</a>
</body>
</html>